{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/resets.css' %}">
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <style>
    .forms {
      width: auto;
      height: 50px;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: auto;
      margin: 50px;
    }
  </style>
{% endblock %}
{% block title %}
Administrador
{% endblock %}
{% block main %}
  <main style="height: auto;">
    <div class="main-section" style="display: flex; justify-content:start; margin-bottom: 20px;">
      <div class="user-card">
        <img src="img/user.png" alt="user icon">
        <div>
          <h3>Bem vindo, prezado Administrador</h3>
          <span>Email: adminemail@email.com</span>
        </div>
        <div>
          <div></div>
        </div>
      </div>
      <div class="buttons">
        <a href="{% url 'produto_criar' %}">
          <button class="forms">
            Adicionar produto
          </button>
        </a>
        <a href="{% url 'categoria_criar' %}">
          <button class="forms">
            Adicionar catergoria
          </button>
        </a>
      </div>
      <h2 style="margin: 20px;">Lista de Produtos</h2>

      <div class="orders" style="
      margin-bottom: 30px;
      height: auto;
      ">
        {% for produtos in produto %}
        <div>
          <strong style="text-transform: capitalize;">Nome do Produto</strong>
          <span>{{ produtos.nome_produto }}</span>
        </div>
        <div>
          <strong style="text-transform: capitalize;">Preço</strong>
          <span>{{ produtos.valor }}</span>
        </div>
        <div>
          <strong style="text-transform: capitalize;">Catergoria</strong>
          <span>{{ produtos.categoria.nome_categoria }}</span>
        </div>
        <div>
          <a href="{% url 'deletar_produto' produtos.id  %}">
            <button style="height: auto;  font-size: 25px; background-color: red; ">
              Excluir
            </button>
          </a>
          <a href="{% url 'editar_produto' produtos.id  %}">
            <button style="height: auto; font-size: 25px; background-color: green;">
              Editar
            </button>
          </a>
        </div>
        <hr />

        {% endfor %}
      </div>
  </main>
  {% endblock %}