{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/departaments.css' %}" />
{% endblock %}
{% block title %}
ContrUrbano - Departamentos
{% endblock %}

{% block main %}

<main class="container">
    <header style="width: 100%;">
        <h1 style=" font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 6px #0008;">Departamentos</h1>
    </header>
    <section style="display: flex; justify-content: center;">
        <div class="list-products">
          {% for categoria in categorias %}
            
              <div class="brick-card" style="display: flex; justify-content: start; height: auto;">
                <img src={{categoria.imagem_categoria.url}} alt="Tijolo">
                <div>
                  <span>{{ categoria.nome_categoria }}</span>
                 
                </div>
              </div>
              {% endfor %}
        </div>
      </section>
</main>
{% endblock %}