<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ContrUrbano - Departaments</title>

    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/departaments.css">
    
  </head>
  <body>
    <header>
      <a href="./index.html">
        <img src="img/logo.png" alt="Logo ConstrUrbano" class="logo">
      </a>
      <div class="nav-menu">
        <button >Ofertas</button>
        <button >Destaques</button>
        <input type="text" placeholder="Busque aqui">
        <a href="login.html">
          <img src="img/user.png" alt="Logo de Usuário" class="user-icon">
          <span>Minha conta</span>
        </a>
      </div>
    </header>
    <main class="container">
      <header  style="width: 100%;">
        <h1 style=" font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 6px #0008;">Construção</h1>
      </header>
      <section><div>
        <p style="color: #FFD80B; ">Filtrar por:</p>
        <aside class="filter-menu"></aside></div>
        <div class="list-products">
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
            <a href="">
              <div class="brick-card">
                <legend>25%</legend>
                <img src="img/brick.png" alt="Tijolo">
                <div>
                  <span>Tijolo 6 furos (9X14X19cm)</span>
                  <s>R$ 10 por uni.</s>
                  <h3>R$ 9 por uni.</h3>
                </div>
              </div>
            </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-section">
        <span>Atendimento</span>
        <strong>Horario de atendimento:</strong>
        <strong>08:00 às 20:00 -</strong>
        <strong>Segunda a Sábado,</strong>
        <strong>horário de Brasília</strong>
      </div>
      <div class="footer-section">
        <span>E-mail</span>
        <strong>faleconosco@construrbano.com</strong>
      </div>
      <div class="footer-section">
        <span>Institucional</span>
        <strong>Sobre a construrbano</strong>
      </div>
      <div class="footer-section">
        <span>Endereço</span>
        <strong>Rua Antônio de Andrade, 1115</strong>
        <strong>Itaú/RN - CEP: 59855-000</strong>
      </div>
    </footer>
  </body>
</html>
