{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/detail_product.css' %}" />
<script src="https://kit.fontawesome.com/0617d3c9d1.js" crossorigin="anonymous"></script>
<style>
  main {
  display: block;
}
i{
    color: #FFD600;
  }
section {
  display: block;
  margin-bottom: 50px;
}
</style>
{% endblock %}
{% block title %}
ConstrUrbano - Details - {{ categoria.nome_categoria }}
{% endblock %}

{% block main %}
   
    <main class="product-container">
      <header>
        <h1 style="align-self: flex-start;">{{ categoria.nome_categoria }}</h1>
      </header>
      <section class="detail-product">
        <div class="rated" style="margin-bottom: 0px;"><i class="fa-solid fa-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></i>(300)</div>
        <div class="product-preview">
          <div class="product-preview-item active">       
            <img src="{{ categoria.imagem_categoria.url }}" alt="" />
          </div>




      
        
      </section>
      <section>
        <header>
          <h2>Sugestões de produtos</h2>
        </header>
        <div class="suggested-products">
            {% for produto in produtos|slice:":6" %}
          <a href="{% url 'produto_detalhes' produto.id %}">
            <div class="brick-card">
      
              <img src="{{produto.imagem_principal.url}}" alt="Tijolo">
              <div>
                <span>{{ produto.nome_produto }}</span>
                
                <h3>R$ {{ produto.valor }} por uni.</h3>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>
    </main>
    
    {% endblock %}