<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/detail_product.css" />
    <script src="https://kit.fontawesome.com/0617d3c9d1.js" crossorigin="anonymous"></script>
    

    <title>ConstrUrbano - Details</title>

    <style>
      main {
      display: block;
    }
    i{
        color: #FFD600;
      }
    section {
      display: block;
      margin-bottom: 50px;
    }
    </style>


  </head>
  <body>
    <header>
      <a href="./index.html">
        <img src="img/logo.png" alt="Logo ConstrUrbano" class="logo">
      </a>
      <div class="nav-menu">
        <button >Ofertas</button>
        <button >Destaques</button>
        <input type="text" placeholder="Busque aqui">
        <a href="login.html">
          <img src="img/user.png" alt="Logo de Usuário" class="user-icon">
          <span>Minha conta</span>
        </a>
      </div>
    </header>
    <main class="product-container">
      <header>
        <h1 style="align-self: flex-start;">Tijolo 6 furos (9X14X19cm)</h1>
      </header>
      <section class="detail-product">
        <div class="rated" style="margin-bottom: 0px;"><i class="fa-solid fa-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></i>(300)</div>
        <div class="product-preview">
          <div class="product-preview-item active">
            
            <img src="./img/brick.png" alt="" />
          </div>
          <div class="product-preview-item">
            <img src="./img/brick.png" alt="" />
          </div>
          <div class="product-preview-item">
            <img src="./img/brick.png" alt="" />
          </div>
          <div class="product-preview-item">
            <img src="./img/brick.png" alt="" />
          </div>
        </div>

        <div>
          <div class="product-info">
            <h5>9 R$ por unidade</h5>
            <span>á vista pix e boleto</span>

            <h2 class="state">Em estoque</h2>
          </div>
          <button class="btn-sale"><a href="confirm_sale.html">Comprar</a></button>
        </div>

        <div class="cep-box">
          <label for="cep">Calcular frete e prazo de entrega</label>
          <div style="display: flex; align-items: center; gap: 10px">
            <input type="text" placeholder=" Inserir cep" required />
            <button style="border: 3px solid #FFD600; background: transparent; color: #FFF; padding: 5px; border-radius: 5px; font-weight: 700;">OK</button>
          </div>
        </div>
      </section>
      <section>
        <header>
          <h2>Sugestões de produtos</h2>
        </header>
        <div class="suggested-products">
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
      
              <img src="img/brick.png" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                
                <h3>R$ 10 por uni.</h3>
              </div>
            </div>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-section">
        <span>Atendimento</span>
        <strong>Horario de atendimento:</strong>
        <strong>08:00 às 20:00 -</strong>
        <strong>Segunda a Sábado,</strong>
        <strong>horário de Brasília</strong>
      </div>
      <div class="footer-section">
        <span>E-mail</span>
        <strong>faleconosco@construrbano.com</strong>
      </div>
      <div class="footer-section">
        <span>Institucional</span>
        <strong>Sobre a construrbano</strong>
      </div>
      <div class="footer-section">
        <span>Endereço</span>
        <strong>Rua Antônio de Andrade, 1115</strong>
        <strong>Itaú/RN - CEP: 59855-000</strong>
      </div>
    </footer>
  </body>
</html>
