{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block main %}

<main>
  <img src="{% static 'img/banner.png' %}" alt="Banner de ofertas" class="sell-banner">
  <div class="main-section" style="display: flex; justify-content: start; height: auto;">
    <div>
      <h2>Produtos</h2>
    </div>
    <div class="sales" style="margin-top: 20px;">
      <div class="see-all">
        <a href="{% url 'produtos' %}">Ver todos</a>
        <img src="{% static 'img/arrow.png' %}" alt="seta">
      </div>

      <!-- Produtos cadastrado -->
      <section>
        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow flip">
        {% for produto in produtos|slice:":4" %} <!-- mostrar so 4 produtos -->
        <a href="{% url 'produto_detalhes' produto.id %}">
          <div class="brick-card">
            <img src={{produto.imagem_principal.url}} alt="Tijolo">
            <div>
              <span>{{ produto.nome_produto }}</span>

              <h3>R$ {{ produto.valor }} por uni.</h3>
            </div>
          </div>
        </a>
        {% endfor %}
        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow">
      </section>
    </div>
    <!-- decorar o site -->
    
</main>
{% endblock %}