{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block main %}

<main>
  <img src="{% static 'img/banner.png' %}" alt="Banner de ofertas" class="sell-banner">
  <div class="main-section">
    <div>
      <h2>Promoções</h2>
    </div>
    <div class="sales">
      <div class="see-all">
        <a>ver todos</a>
        <img src="{% static 'img/arrow.png' %}" alt="seta">
      </div>
      <section>
        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow flip">
        {% for produto in produtos %}
        <a href="detail_product.html">
          <div class="brick-card">

            <img src={{produto.imagem_principal.url}} alt="Tijolo">
            <div>
              <span>{{ produto.nome_produto }}</span>

              <h3>R$ {{ produto.valor }} por uni.</h3>
            </div>
          </div>
        </a>
        {% endfor %}

        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow">
      </section>
    </div>
    <section>
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad1">
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad1">
    </section>
    <section>
      <h2>Departamentos</h2>
    </section>
    <section>
      <div class="departments">
        {% for categoria in categorias %}

        
        <div class="departments-cards">
          <img src="{{categoria.imagem_categoria.url}}" alt="tomada">
          <span>{{categoria.nome_categoria}}</span>
        </div>
        {% endfor %}
        
    </section>
    <section>
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad2">
    </section>
    <section class="most-wanted">
      <h2>Produtos mais procurados</h2>
    </section>
    <section>
      <div class="most-wanted">
        <div class="see-all">
          <a>ver todos</a>
          <img src="{% static 'img/arrow.png' %}" alt="seta">
        </div>
        <div class="most-wanted-items">
          <a href="detail_product.html">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
          <a href="detail_product.html">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
          <div class="brick-card">
            <legend>25%</legend>
            <img src="{% static 'img/brick.png' %}" alt="Tijolo">
            <div>
              <span>Tijolo 6 furos (9X14X19cm)</span>
              <s>R$ 10 por uni.</s>
              <h3>R$ 9 por uni.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="top-selling">
        <div>
          <h3>Produtos mais vendidos do site</h3>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
        </div>
        <div>
          <h3>Produtos mais vendidos do site</h3>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
          <a href="detail_product.html"><img src="{% static 'img/brick.png' %}" alt="Tijolo"
              style="box-shadow: 1px 1px 2px;"></a>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}