{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block main %}

<main>
  <img src="{% static 'img/banner.png' %}" alt="Banner de ofertas" class="sell-banner">
  <div class="main-section">
    <div>
      <h2>Produtos</h2>
    </div>
    <div class="sales">
      <div class="see-all">
        <a href="{% url 'produtos' %}">Ver todos</a>
        <img src="{% static 'img/arrow.png' %}" alt="seta">
      </div>

      <!-- Produtos cadastrado -->
      <section>
        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow flip">
        {% for produto in produtos|slice:":4" %} <!-- mostrar so 4 categorias -->
        <a href="detail_product.html">
          <div class="brick-card">
            <img src={{produto.imagem_principal.url}} alt="Tijolo">
            <div>
              <span>{{ produto.nome_produto }}</span>

              <h3>R$ {{ produto.valor }} por uni.</h3>
            </div>
          </div>
        </a>
        {% endfor %}
        <img src="{% static 'img/circled-arrow.png' %}" alt="seta" class="circled-arrow">
      </section>
    </div>
    <!-- decorar o site -->
    <section>
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad1">
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad1">
    </section>

    <section>

      <h2>Departamentos</h2>

    </section>
    <div class="sales">
      <div class="see-all">
        <a href="{% url 'categorias' %}">Ver todos</a>
        <img src="{% static 'img/arrow.png' %}" alt="seta">
      </div>
      <!-- Categorias cadastrada -->
      <section>
        {% for categoria in categorias|slice:":4" %} <!-- mostrar so 4 categorias -->
        <a href="#">
          <div class="departments">
            <div class="departments-cards">
              <img src="{{categoria.imagem_categoria.url}}" alt="tomada">
              <span>{{categoria.nome_categoria}}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </section>
    </div>

    <!-- So pra deixar o site mais bonito -->

    <section>
      <img src="{% static 'img/ad.png' %}" alt="acabou de chegar" class="ad2">
    </section>

    <section class="most-wanted">
      <h2>Produtos mais procurados</h2>
    </section>

    <section>
      <div class="most-wanted">
        <div class="see-all">
          <a>ver todos</a>
          <img src="{% static 'img/arrow.png' %}" alt="seta">
        </div>
        <div class="most-wanted-items">

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="brick-card">
              <legend>25%</legend>
              <img src="{% static 'img/brick.png' %}" alt="Tijolo">
              <div>
                <span>Tijolo 6 furos (9X14X19cm)</span>
                <s>R$ 10 por uni.</s>
                <h3>R$ 9 por uni.</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="top-selling">
        <div>
          <h3>Produtos mais vendidos do site</h3>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
        </div>
        <div>
          <h3>Produtos mais vendidos do site</h3>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
          <a href="#"><img src="{% static 'img/brick.png' %}" alt="Tijolo" style="box-shadow: 1px 1px 2px;"></a>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}