<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/global.css">
  <title>Login</title>
</head>
<body>
  <header>
    <a href="./index.html">
      <img src="img/logo.png" alt="Logo ConstrUrbano" class="logo">
    </a>

    <div class="nav-menu">
      <button >Ofertas</button>
      <button >Destaques</button>
      <input type="text" placeholder="Busque aqui">
      <a href="login.html">
        <img src="img/user.png" alt="Logo de Usuário" class="user-icon">
        <span>Minha conta</span>
      </a>
    </div>
  </header>
  <main>
    <div class="main-section">
      <form>
        <div>
          <h1>Cadastre-se</h1>
          <span>É gratuito</span>
        </div>
        <div class="inputs-section">
          <div>
            <input type="text" placeholder="Nome" required>
            <input type="text" placeholder="Sobrenome" required>
          </div>
          <div>
          <input type="email" placeholder="E-mail" required>
          <input type="number" placeholder="CPF" maxlength="11" minlength="11" required>
          </div>

          <div>
            <input type="password" placeholder="Senha" minlength="8" required>
            <input type="password" placeholder="Senha novamente" minlength="8" required>
          </div>
        </div>
        <a href="user.html">Confirmar</a>
      </form>
    </div>
  </main>
  <footer>
    <div class="footer-section">
      <span>Atendimento</span>
      <strong>Horario de atendimento:</strong>
      <strong>08:00 às 20:00 -</strong>
      <strong>Segunda a Sábado,</strong>
      <strong>horário de Brasília</strong>
    </div>
    <div class="footer-section">
      <span>E-mail</span>
      <strong>faleconosco@construrbano.com</strong>
    </div>
    <div class="footer-section">
      <span>Institucional</span>
      <strong>Sobre a construrbano</strong>
    </div>
    <div class="footer-section">
      <span>Endereço</span>
      <strong>Rua Antônio de Andrade, 1115</strong>
      <strong>Itaú/RN - CEP: 59855-000</strong>
    </div>
  </footer>
</body>
</html>