{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/departaments.css' %}" />
{% endblock %}
{% block title %}
ContrUrbano - Produtos
{% endblock %}

{% block main %}

    <main class="container" style="align-items: start;">
      <header  style="width: 100%;">
        <h1 style=" font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 6px #0008;">Produtos</h1>
      </header>
      <section><div>
        <p style="color: #FFD80B; ">Filtrar por:</p>
        <aside class="filter-menu"></aside></div>
        <div class="list-products">
          {% for produto in produtos %}
            <a href="{% url 'produto_detalhes' produto.id %}">
              <div class="brick-card">
                <img src={{produto.imagem_principal.url}} alt="Tijolo">
                <div>
                  <span>{{ produto.nome_produto }}</span>
                  <h3>R$ {{ produto.valor }} por uni.</h3>
                </div>
              </div>
              {% endfor %}
        </div>
      </section>
    </main>
    {% endblock %}
