{% load static %}

<!DOCTYPE html>
<html lang="pt-PT">

<head>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/resets.css' %}" rel="stylesheet">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    {% block link %}

    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <title>
        {% block title %}

        {% endblock %}
    </title>

</head>

<body>
    <header>
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo ConstrUrbano" class="logo">
        </a>
        <div class="nav-menu">
            <a  href="{% url 'produto_criar' %}">
                <button >Ofertas</button>
            </a>
            <a href="#">
                <button>Promoções</button>
            </a>
            <input type="text" placeholder="Busque aqui">
            <a href="login.html">
                <img src="{% static 'img/user.png' %}" alt="Logo de Usuário" class="user-icon">
                <span>Minha conta</span>
            </a>
        </div>
    </header>

    {% block main %}

    {% endblock %}

   
  </ul>

    <footer>
        <div class="footer-section">
            <span>Atendimento</span>
            <strong>Horario de atendimento:</strong>
            <strong>08:00 às 20:00 -</strong>
            <strong>Segunda a Sábado,</strong>
            <strong>horário de Brasília</strong>
        </div>
        <div class="footer-section">
            <span>E-mail</span>
            <strong>faleconosco@construrbano.com</strong>
        </div>
        <div class="footer-section">
            <span>Institucional</span>
            <strong>Sobre a construrbano</strong>
        </div>
        <div class="footer-section">
            <span>Endereço</span>
            <strong>Rua Antônio de Andrade, 1115</strong>
            <strong>Itaú/RN - CEP: 59855-000</strong>
        </div>
    </footer>

</body>

</html>